*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Якщо ці папки десь були чи могли бути
ComposeEntity/
compose-entity/
compose-entity-ksp/
maven-repo/

# На випадок, якщо вони потрапили глибше
**/ComposeEntity/
**/compose-entity/
**/compose-entity-ksp/
**/maven-repo/

#../ComposeEntity/


